{% spaceless %}
{% set form = __SELF__.form.attributes %}
<form id="sntools-forms-{{ form.id }}" method="POST" onsubmit="sendSntoolsForm(event);" class="needs-validation" data-browser-validate>
    <input hidden name="form_id" type="text" value="{{ form.id }}">
    {% for field in __SELF__.form.fields %}
    <div class="form-group">
        {% if field.label %}<label for="{{ field.name }}">{{ field.label }}</label>{% endif %}

        {% if field.tag == 'input' %}
        <input name="{{ field.name }}" {% if field.type %}type="{{ field.type }}" {% endif %} {% if field.pattern
            %}pattern="{{ field.pattern }}" {% endif %} {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %} {% if field.required %}required{% endif %} class="{% if field.type == 'checkbox' %}checkbox{% else %}form-control{% endif %}">

        {% elseif field.tag == 'textarea' %}
        <textarea name="{{ field.name }}" {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %} {%
            if field.required %}required{% endif %} rows="6" class="form-control"></textarea>

        {% elseif field.tag == 'select' %}
        <select name="{{ field.name }}" {% if field.placeholder %}placeholder="{{ field.placeholder }}" {% endif %} {%
            if field.required %}required{% endif %} rows="6" class="form-control">
            [% if field.placeholder %]
            <option disabled selected value="0">{{ field.placeholder }}</option>
            [% endif %]
            {% for option in field.options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <div class="error-message {{ field.name }}"></div>
    </div>
    {% endfor %}
    <div class="form-group">
        <button class="btn btn-primary" type="submit" data-attach-loading>{{ texts['submitButton'] }}</button>
    </div>
    <div id="sntools-forms-{{ form.id }}-alert"></div>
</form>
{% endspaceless %}
{% put scripts %}
{% spaceless %}
<script>
    function sendSntoolsForm(event) {
        Snowboard.request('#sntools-forms-{{ form.id }}', 'onSend', {
            success: (data) => {
                if (!data.alert.success) {
                    return;
                }
                document.getElementById("sntools-forms-{{ form.id }}")
                    .querySelectorAll('input').forEach(element => {
                        if (!element.hidden) element.value = null;
                    });
                document.getElementById("sntools-forms-{{ form.id }}")
                    .querySelectorAll('textarea').forEach(element => {
                        if (!element.hidden) element.value = null;
                    });
                document.getElementById("sntools-forms-{{ form.id }}")
                    .querySelectorAll('select').forEach(element => {
                        if (!element.hidden) element.value = 0;
                    });
            }
        });

        event.preventDefault();
    }
</script>
{% endspaceless %}
{% endput %}